<p id="notice"><%= notice %></p>

<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
<p>
  
  <%= @ems_text.body.html_safe %>
</p>
</div>
</div>


<%=link_to "Back", root_path(@root, :anchor => "ems") %>
</div>