 <%= form_tag(" /emaillist/subscribe ", method: "post", id: "subscribe", remote: "true", class:"form-group") do -%>


 <div class="subscribe-top">
    <div class="text-center" >
      <%= email_field(:email, :address, {id: "email", class: "form-control email-field col-xs-2", placeholder: "Email Address", required: true}) %>
    
      <%= submit_tag("Sign Up!", class: "btn btn-primary") %>
    </div>

 </div>
  <% end %>