

<div class="container-fluid employees-top">

<br>
<br>
<br>

<div class="col-lg-12">
	          <p class="employees-quote">
	          The team at Circular consists of scientists and engineers with various backgrounds, who all have demonstrated scientific excellence internationally, for example by publishing scientific work in leading international journals. </p>

	        
	          
	        </div>
</div>


<div class="row">
  <div class="col-sm-10 col-sm-offset-1 text-center">
 
    </div>
      <div class="container the-team">
      		<div class="cv-wrap col-xs-12 col-md-6">
             <div class="cv-box">
             <h3>Birgir Örn Smárason, MSc</h3>
             <h5>Chief Of Life Cycle Assessments & Co-Founder</h5>
             	<p><%= mail_to "birgir@circularsolutions.is", class: 'employee-mail' do %>
  					<span class="glyphicon glyphicon-envelope"></span> </p>
				<% end %>
                <img src="/assets/BOS.jpg" class="portfolio-img img-responsive">

                
                <p class="cv">Birgir holds a B.Sc. in environmental planning from the agricultural university of Iceland. The holds a M.Sc. degree from the University of Iceland where he studied at the Environment and Natural Resource program. He is now about to finish his Ph.D. from the University of Iceland where he has also taught LCA. His main areas of study has been within life cycle assessments of aquaculture and bio economy. Birgir is also an active member of the Icelandic search and rescue (SAR) team and can often be found in high altitudes.</p>
        </div>
        </div>

<div class="cv-wrap col-xs-12 col-md-6">
        <div class=" cv-box">
             <h3>Daði Hall, MSc</h3>
              <h5>CEO, Head Of Techincal Development & Co-Founder</h5>
              <p><%= mail_to "dadi@circularsolutions.is", class: 'employee-mail' do %>
  					<span class="glyphicon glyphicon-envelope"></span> </p>
				<% end %>
                <img src="/assets/dadih.jpg" class="portfolio-img img-responsive">
                <p class="cv">Coming from a background in graphic- and multimedia design, Daði holds an extensive experience in the field. He holds a B.Sc. in environmental planning from the agricultural university of Iceland and a M.Sc. degree from the University of Iceland where he studied at the Environment and Natural Resource program.
				He is a skilled webprogrammer with an entrepreneur mindset. By using both his experience and education, Daði has led the developement of the web-application CircularEMS. </p>
        </div>
</div>
<div class="cv-wrap col-xs-12 col-md-6">
        <div class="cv-box">
             <h3>Hafþór Ægir Sigurjónsson, Phd</h3>
             <h5>Head Engineer & Co-Founder</h5>
             <p><%= mail_to "hafthor@circularsolutions.is", class: 'employee-mail' do %>
  					<span class="glyphicon glyphicon-envelope"></span> </p>
				<% end %>

                <img src="/assets/Haf.png" class="portfolio-img img-responsive">
                <p class="cv">Hafþór holds a B.Sc. degree in Civil Engineering from Reykjavik University and a M.Sc. degree in Mechanical Engineering from the Technical University of Denmark (DTU). Hafþór has done extensive research in optimization and comparative analysis of industrial processes using Life Cycle Assessment (LCA) methods. Along with doing his research work, he also teaches LCA at the University of Iceland, and has previously taught sustainable production at DTU.</p>
        </div>
</div>
<div class="cv-wrap col-xs-12 col-md-6" >
        <div class="cv-box">
             <h3>Reynir Smári Atlason, Phd</h3>
             <h5>Head Of Research & Co-Founder</h5>
             	<p><%= mail_to "reynir@circularsolutions.is", class: 'employee-mail' do %>
  					<span class="glyphicon glyphicon-envelope"></span> </p>
				<% end %>
                <img src="/assets/Rey.png" class="portfolio-img img-responsive">
                <p class="cv">Reynir holds a B.A. degree in product design from Curtin University of Technology. He also holds a M.Sc. and Ph.D. from the Environment and Natural Resource program at the University of Iceland. Reynir has studied Energy Return on Investment (EROI), innovation in the geothermal sector and sustainable product design. He has, like the other founders of Circular, taught LCA at the University of Iceland. Reynir is an avid sailor, his latest voyage was from the north coast of France, through the North Sea to Denmark, inside the Baltic Sea.</p>
        </div>
       
      </div>
    </div>
</div>