<div class="container">

<br>
<br>
<br>

<h1>Energy Analysis</h1>

<p>Energy Return on Investment (EROI) is a proven methodology to evaluate the efficiency of energy systems from the perspective of society as a whole. EROI demonstrates the ratio between the energy provided to society from a given energy system, against the energy taken from society. Such systems include power plants, agriculture, aquaculture or any system that has the aim of providing energy as an output.</p> 

<p>The team at Circular has studied EROI for multiple types of energy systems internationally such as for geothermal power plants, hydro power plants, dairy farms, sugar beet farms and aquaponic systems. We have furthermore contributed to methodological developments within the EROI literature and will continue to do so. EROI studies prove extremely valuable for policy makers in order to visualize the potential efficiency improvements of systems and to strengthen future decision making.</p>

</div>