<div class="container">

<br>
<br>
<br>

<h1>Green Accounting</h1>

<p>Green accounting&nbsp;is an accounting method&nbsp;that focus on integrating environmental costs&nbsp;into the financial results of operations by including the indirect costs and benefits of a product or activity. &nbsp;Green Accounting focuses on the environmental effects of firms operations which may contain the impact on health and the economy, along with its direct costs when making business decisions.</p> 

<p>With that in mind green accounting&nbsp; helps businesses to understand and manage the potential&nbsp;advantage&nbsp;between traditional economics goals and environmental goals. By implementing Green Accounting to their operations, firms can gather&nbsp;important information for analyzing policy issues, especially when those vital pieces of information are often overlooked in daily operations.&nbsp;</p>	




</div>