
<div class="container">

<br>
<br>
<br>

<h1>Life Cycle Assessment</h1>

<p>LCA is an ISO-compliant framework for industrial system evaluation throughout its life cycle, where the aim is to assess a specific product, process or activity. The concept of life cycle means that, e.g. a product is followed and assessed from its cradle where raw materials are extracted from natural resources through production and use to its grave where it is disposed of.</p> 
<p>By including all upstream processes of a supply chain an environmental LCA can quantify the potential impacts of an industrial system and identify where the source of the impacts occur within its whole life cycle. The main strength of LCA is this comprehensive and holistic approach which avoids ineffective optimizationwhen striving for a sustainable industrial systems. For businesses and organizations LCA can be used for overall value creation.</p> 

<p>As noted by Deloitte, LCA can be very useful for objectives such as: Enhance brand value for competitive differentiation by being environmentally or socially beneficial, make better procurement decisions by knowing the impacts upstream in the supply chain, meet communication needs by helping companies meet their official environmental goals (e.g. 20% reduction in greenhouse gas emissions by 2020) and identify cost savings by reducing consumption of costly resources, or by recycling/reusing materials that would previously have been considered waste when manufacturing your product.</p> 
<p>&nbsp;<img alt="lca cycle" src="/ckeditor_assets/pictures/1/content_lca_en.png" style="height:165px; width:250px" /></p> 


</div>