/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "navbar";

@import 'https://fonts.googleapis.com/css?family=PT+Sans';
@import "font-awesome";

@import url('https://fonts.googleapis.com/css?family=Roboto');



.logo{
   display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;

    width: 40vw;
}
.lead{
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
     margin-bottom: 40vh;
    text-transform: capitalize;
    font-size: 2.5em;
    color:#2e4c5d;
}
.heading {
    font-family: 'PT Sans', sans-serif;
    font-size: 4em;
    letter-spacing: .8em;


}

.circular-text{
    color:#2e4c5d;
}

.email-field{

    background-color: transparent;

}

.subscribe-top{
    margin-top: 5vh;

}

.bg-1 {
    font-family: 'Roboto', sans-serif;
	background: url('/assets/plain.jpeg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
    width: 100vw;
    height: 100%;
    margin-top: -62px;
}

.bg-2 {
	
    color:#555;
    background-size:cover;
    width: 100vw;
    height: 100%;
}

.mission-wrapper {
    font-family: 'Roboto', sans-serif;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.mission-heading{
    font-size: 4em;
    color: #2e4c5d;
    margin-bottom: 5vh;
}

.mission{
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.mission-quote{
    font-size: 1.7em;
    line-height: 1.5em;
    font-style: italic;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.bg-3 {
    font-family: 'Roboto', sans-serif;
    background: url('/assets/plain.jpeg') no-repeat center center fixed;
    color:#555;
    background-size:cover;
    width: 100vw;
    height: 100%;
    padding-bottom: 20vh;
    
}

.what-we-do-wrapper{
    font-family: 'Roboto', sans-serif;
    padding-top: 8vh;
}

.panel-body p{
    font-size: 1.3em;
    line-height: 1.4em;
    text-align: left;
}

.panel-title{
    font-size: 2em;
    color: #2e4c5d;
}


.heading-what-do-we-do{
    text-transform: uppercase;
    font-size: 4em;
    color: #2e4c5d;
    letter-spacing: .4em;
    margin-bottom: 7vh;
    text-shadow: 1px 1px 2px #fff;
}


.bg-4{
    background-color: #2e4c5d;
    color:#555;
    background-size:cover;
    width: 100vw;
    height: 100%;
    
}

.ems-wrapper{
     padding-top: 10vh;
}

.ems-wrapper h1{
    font-family: 'PT Sans', sans-serif;
     color: #fff;
     font-size: 4em;
     text-transform: uppercase;
     letter-spacing: .2em;
     margin-bottom: 1vh;
}

.lead-ems{
    font-family: 'PT Sans', sans-serif;
     color: #fff;
     text-align: center;
     text-transform: uppercase;
     letter-spacing: .2em;
     margin-top: 2vh;
     margin-bottom: 3vh;
}


.ems-wrapper .panel{
     background-color: rgba(255, 255, 255, .5);
     border: none;
}


.bg-5 {
    font-family: 'Roboto', sans-serif;
    background: url('/assets/slide1.jpeg') no-repeat center center fixed;
    color:#555;
    background-size:cover;
    width: 100vw;
    height: 100%;
    
}

.team-lead{
    color: #2e4c5d;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: 4em;
    letter-spacing: .2em;


}

.the-team{
    padding-top: 10vh;
    padding-bottom: 10vh;
   
}

.the-team h3{
    font-size: 2em;
    color: #2e4c5d;
    text-align: center;
}

.cv-box{
    background: rgba(255, 255, 255, .5);
    
    border-radius: 5px;
}

.portfolio-img {
    height: 150px;
    width: 150px;
    
    border-radius: 100%;
    border: solid 4px #efefef;
    
}

 .img-responsive{
     margin: 0 auto;
 }


 .cv{
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 30px;
    margin-bottom: 50px;
 }


.contact-lead{
    color: #2e4c5d;
    margin-top: 5vh;
    margin-bottom: 3vh;
}


footer{
    font-family: 'PT Sans', sans-serif;
    width: 100vw;
    height: 30vh;
    background-color: #2e4c5d;
    margin-top: 10vh;
}


footer h3{
    letter-spacing: .1em;
    text-transform: capitalize;
    text-align: center;
    color : #fff;
}

footer p{
    letter-spacing: .1em;
    text-transform: capitalize;
    text-align: center;
    color : #fff;
}
.footer-links{
    list-style: none;
}



@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ 

.bg-2 {
    
    color:#555;
    background-size:cover;
    width: 100vw;
    height: 100%;
}

.greengrowth-pic{
    width: 100%;
    height: auto;
}

.mission-heading{
    font-size: 4em;
    color: #2e4c5d;
    margin-bottom: 5vh;
}

.mission{
    text-align: center;
   
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.what-we-do-wrapper{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    padding-top: 8vh;
}

.what-we-do-wrapper .panel{
     background-color: rgba(255, 255, 255, .5);
     margin-bottom: 50px;
     border: none;
}


.bg-4{
  
    height: 100%;
    
}

.ems-wrapper h1{
  
     font-size: 2em;
   
}

.lead-ems{
   font-size: 1em;
     text-align: center;
     text-transform: uppercase;
     line-height: 1.3em;
     margin-top: 2vh;
     margin-bottom: 3vh;
}


.ems-wrapper .panel{
     background-color: rgba(255, 255, 255, .5);
     margin-bottom: 50px;
     border: none;
}


.bg-5 {
    background: url('/assets/slide1.jpeg') no-repeat center center fixed;
    color:#555;
    background-size:cover;
    width: 100vw;
    height: 100%;
    
}

.cv-box{
    background: rgba(255, 255, 255, .5);
    margin-bottom: 50px;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 15px;
 }



.team-lead{
  
    color: #2e4c5d;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: 3em;
    letter-spacing: .2em;


}

.col-md-3{
    margin: 0px;
}


footer{
    font-family: 'PT Sans', sans-serif;
    width: 100vw;
    height: 100%;
    background-color: #2e4c5d;
    margin-top: 10vh;
}

footer .fa{
    display: inline-block !important;
    color: #fff !important;
    font-size: 3em;

    margin-right: 10px;
    margin-left: 10px;
}



footer h3{
    letter-spacing: .1em;
    text-transform: capitalize;
    text-align: center;
    color : #fff;
    margin-bottom: 30px;
    margin-top: 30px;
}

footer p{
    letter-spacing: .1em;
    text-transform: capitalize;
    text-align: center;
    color : #fff;
}
.footer-links{
    list-style: none;
    
    padding: 0px;
}

footer li>a{

    color: #fff !important;
    font-size: 1em;
    letter-spacing: .2em;
    
}

.email-field{
    margin-bottom: 20px;
}

}

/*IPADS*/

@media only screen and (min-device-width:768px) and (max-device-width:961px){   


.bg-2 {
    
    color:#555;
    background-size:cover;
    width: 100vw;
    height: 100%;
}

.bg-2 p{
    font-size: 1.5em;
    line-height: 1.5em;
}

.greengrowth-pic{
    width: 60%;
    height: auto;
}

.mission-heading{
    font-size: 6em;
    color: #2e4c5d;
    margin-bottom: 2vh;
}

.mission{
    text-align: center;
    font-size: 1em;
    line-height: 1.2em;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.bg-3 {
    font-family: 'PT Sans', sans-serif;
    background: url('/assets/slide5.jpeg') no-repeat center center fixed;
    color:#555;
    background-size:cover;
    width: 100vw;
    height: 100%;
    
}

.bg-3 p{
    font-size: 1.3em;
    line-height: 1.3em;
}

.bg-3 h3{
    font-size: 2em;
}
.what-we-do-wrapper{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    padding-top: 8vh;
}

.what-we-do-wrapper .panel{
     background-color: rgba(255, 255, 255, .5);
     margin-bottom: 50px;
     border: none;
}

.heading-what-do-we-do{
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    color: #2e4c5d;
    letter-spacing: .2em;
    margin-bottom: 7vh;
    text-shadow: 1px 1px 2px #fff;
}

.bg-4{
    font-family: 'PT Sans', sans-serif;
    height: 100%;
    
}

.ems-wrapper h1{
  
     font-size: 4em;
   
}

.lead-ems{
   font-size: 1em;
     text-align: center;
     text-transform: uppercase;
     line-height: 1.3em;
     margin-top: 2vh;
     margin-bottom: 3vh;
}

.bg-4 p {

    font-size: 1.3em;
    line-height: 1.3em;
}

.bg-4 h3 {

    font-size: 2em;
   
}

.ems-wrapper .panel{
     background-color: rgba(255, 255, 255, .5);
     margin-bottom: 50px;
     border: none;
}


.bg-5 {
    background: url('/assets/slide1.jpeg') no-repeat center center fixed;
    color:#555;
    background-size:cover;
    width: 100vw;
    height: 100%;
    
}

.bg-5 p {
    font-size: 1.5em;
    line-height: 1.5em;
}

.bg-5 h3 {
    font-size: 3em;
   
}

.cv-box{
    background: rgba(255, 255, 255, .5);
   
    margin-bottom: 50px;
    border-radius: 5px;
    margin-right: 15px;
    margin-left: 15px;
    float: left !important;
    
    
}

.portfolio-img {
    height: 150px;
    width: 150px;

    margin-bottom: 20px;
    margin-top: 20px;
    
    border-radius: 100%;
    border: solid 4px #efefef;
    
}

.team-lead{
  
    color: #2e4c5d;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: 4.5em;
    letter-spacing: .2em;
    text-shadow: 1px 1px 2px #fff;

}


footer{
    font-family: 'PT Sans', sans-serif;
    width: 100vw;
    height: 60vh;
    background-color: #2e4c5d;
    margin-top: 10vh;
}

footer .fa{
    display: inline-block !important;
    color: #fff !important;
    font-size: 3em;

    margin-right: 10px;
    margin-left: 10px;
}



footer h3{
    letter-spacing: .1em;
    text-transform: capitalize;
    text-align: center;
    color : #fff;
    margin-bottom: 30px;
    margin-top: 30px;
}

footer p{
    letter-spacing: .1em;
    text-transform: capitalize;
    text-align: center;
    color : #fff;
}
.footer-links{
    list-style: none;
    
    padding: 0px;
}

li>a{

    color: #fff !important;
    font-size: 1em;
    letter-spacing: .2em;
    
}

.email-field{
    margin-bottom: 20px;
}

}


@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
