.employees-top {
    font-family: 'Roboto', sans-serif;
    background-color: #377391;
  
    
    height: 100%;
    
    
}


.employees-quote{
	color: #fff;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
    font-style: italic;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.employee-mail{
 margin-left: 50%;
	
}