<p id="notice"><%= notice %></p>

<div class="container">

<br>
<br>
<br>

<div class="row">
<div class="col-md-8 col-md-offset-2">

<h3>
  <%= @energy_analysis.title %>
</h3>

<br>

<p>
  <%= @energy_analysis.body.html_safe %>
</p>

<br>

<%=link_to "Back", root_path(@root, :anchor => "about") %>


</div>



</div>

</div>